.footer {
  background-color: $black-color;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  color: $white-color;

  @include media(desktop-l) {
    padding: 40px 0;
    text-align: left;
  }

  &__row {
    @include media(desktop-l) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      height: 50px;
    }
  }

  &__wrapper {
    @include media(desktop-l) {
      max-width: 1000px;
      margin: 0 200px;
    }
  }

  img {
    width: 150px;
    cursor: pointer;
  }

  ul {
    margin-top: 20px;
    padding: 0;
    @include media(desktop-l) {
      display: flex;
      margin: 0;
      li {
        margin-right: 35px;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }

  a {
    text-transform: capitalize;
    line-height: 30px;
    color: $white-color;
    padding-bottom: 5px;

    &:hover {
      border-bottom: 1px solid $white-color;
    }
  }

  &__social-media {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 180px;
    img {
      width: 30px;
      height: 30px;
      padding-bottom: 5px;

      &:hover {
        border-bottom: 1px solid $white-color;
      }
    }
  }

  span {
    color: $veryDarkGray-color;
    font-size: 18px;
    @include media(desktop-l) {
      margin: 0;
    }
  }
}

.container--footer {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;

  @include media(desktop-l) {
    margin: 0;
  }
}
