.overlay {
  background-color: $black-color;
  height: 100vh;
  padding: 0 20px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 100px;
  }

  &__menu {
    color: $white-color;
    padding: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    font-family: $primary-font;

    li {
      padding: 20px 0;
    }
  }

  img {
    cursor: pointer;
  }

  @include media(desktop-l) {
    display: none;
  }
}

.overlay-mobile {
  display: none;
}